:root {
    --color-accent: #EFC98B;
    --color-bg: #b6421b;
    --color-bg-card:#D05C37;
    --color-text: #F5EEDE;
    /* --color-accent: #ff9674; */
    --font-title: "MyFont", sans-serif;
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

body {
    background-color: var(--color-bg);
}

header {
    display: flex;
    position: sticky;
    background-color: var(--color-bg);
    height: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 40px;
    padding-left: 150px;
    align-self: center;
    padding-right: 20px;
}

.menu {
    display: flex;
    align-self: center;
    list-style: none;
    justify-content: center;
}

.menu__item {
    display: flex;
    /* justify-content: center; */
    padding-right: 20px;
}

.menu__link {
    color: var(--color-text);
    text-decoration: none;
    justify-content: center;
}

.menu__link:hover {
    color: var(--color-accent);
}

.hero__img {
    width: 100%;
    display: block;
    filter: brightness(50%);
}

.hero__title {
    font-family: var(--font-title);
    color: var(--color-text);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

.hero__text {
    color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button--primary {
    background: var(--color-bg);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: var(--color-text);
    border: none;
}

.button--primary:hover {
    background: var(--color-accent);
}

.substance__header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.substance__title {
    font-size: 2rem;
    color: var(--color-text);
    font-family: var(--font-title);
}

.substance__grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    padding-left: 20px;
    padding-right: 20px;
}

.substance-card {
    background: var(--color-bg-card);
    /* padding: 10px; */
    padding: 32px 24px; 
    text-align: center; 
    transition: transform 0.3s;
}

.substance-card__name {
    color: var(--color-text);
}

.substance-card__description {
    color: var(--color-accent);
}

.gallery__header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--color-text);
}

.gallery__title {
    font-size: 2rem;
    font-family: var(--font-title);
}

.gallery__grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    /* gap: 5px; */
}

.gallery-card {
    background: var(--color-bg-card);
    padding: 10px;
    align-content: center;
}

.gallery-card__img {
    width: 100%;
    height: 90%;
}

.clan__header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--color-text);
}

.clan__title {
    font-size: 2rem;
    font-family: var(--font-title);
}

.clan__grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px; 
    padding-left: 20px;
    padding-right: 20px;
}

.clan-card {
    background: var(--color-bg-card);
    padding: 32px 24px; 
    text-align: center; 
    transition: transform 0.3s;
}

.clan-card__name {
    color: var(--color-text);
}

.clan-card__description {
    color: var(--color-accent);
}

.footer {
    margin-top: 35px;
    height: 60px;
    /* background: var(--color-bg); */
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.footer__logo {
    width: auto;
    height: 40px;
}

.footer__copy {
    color: var(--color-text);
    font-size: 1rem;
}

.footer__link {
    text-decoration: none;
    color: var(--color-text);
}

.footer__link:hover {
    color: var(--color-accent);
}

@font-face {
    font-family: "MyFont";
    src: url("fonts/1_Sponge_Bob_Ru_Uk_En_by_Ruslan_Chuchko.otf");
}